<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/edit.css">

<head>
    <meta charset="UTF-8">
    <title>Edit employee</title>
</head>
<body>

<h2 th:text="'Employee ID: ' + ${employee.id}"></h2>


<form th:action="@{/employee/edit/{id}(id=${employee.id})}" th:object="${employee}" method="post">
    <input type="hidden"/>

    <label>Employee ID: <span th:text="${employee.id}"></span></label>

    <table>
        <thead>
        <tr>
            <th>Project ID</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div>
                    <input placeholder="ProjectID" type="text">
                </div>
            </td>
            <td>
                <input type="date" class="form-control"/>
            </td>
            <td>
                <input type="date" class="form-control"/>
            </td>
            <btn>
                <a class="button" th:href="@{/}">Cancel</a>
            </btn>
        </tr>
        </tbody>
    </table>
    <button type="submit">Update</button>
</form>
</body>
</html>