<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/edit.css">

<head>
    <meta charset="UTF-8">
    <title>Edit employee</title>
</head>
<body>

<h2>Edit Employee</h2>


<form th:action="@{/employee/edit/{id}/(id=${employee.id})}" th:object="${employee}" method="post">
    <input type="hidden"/>

    <label>Employee ID: <span th:text= "*{id}"></span></label>

    <table>
        <thead>
        <tr>
            <th>Project ID</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div>
                    <input th:field="*{projects}" placeholder="ProjectID" type="text">
                </div>
            </td>
            <td>
                <input th:field="*{dates}" type="date" class="form-control"/>
            </td>
            <td>
                <input th:field="*{dates}" type="date" class="form-control"/>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="button button1" type="submit">Update</button>
    <button class="button button3" type="button" onclick="window.location.href='/';">Cancel</button>
</form>
</body>
</html>